<%= form_for @recipe do |f| %>
  <% if recipe.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(recipe.errors.count, "error") %>.</h4>
      <ul>
        <% recipe.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_group_tag(recipe.errors[:title]) do %>
    <%= f.label :title, "Recipe Name:", error: "Recipe name required" %>
    <%= f.text_field :title %>
  <% end %>

  <div class="field">
    <%= f.label :body, "Recipe" %>
    <%= f.bootsy_area :body %>
  </div>
    <%= f.submit "Save Recipe", class: 'btn btn-success' %>
<% end %>
