<%= form_for @recipe, html: {multipart: true } do |f| %>
  <% if recipe.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(recipe.errors.count, "error") %>.</h4>
      <ul>
        <% recipe.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_group_tag(recipe.errors[:title]) do %>
  <div class="form-group row">
  <div class="field col-md-4">
    <%= f.label :title, "Recipe Name:", error: "Recipe name required" %>
    <%= f.text_field :title %>
  </div>
  <% end %>
</div>
<div class="form-group row">
<div class="col-md-6">
    <%= f.label :ingredients, "Ingredients:"%>
    <%= f.bootsy_area :ingredients, cols: "50", rows: "20", editor_options: { image: false, color: false } %>
</div>
<div class="col-md-6">
    <%= f.label :body, "Recipe:" %>
    <%= f.bootsy_area :body, cols: "100", rows: "20", editor_options: { image: false, color: false } %>
</div>
</div>
<div class="form-group row">
  <div class="field cold-md-4">
    <%= f.label :source, "Recipe Source:" %>
    <%=f.text_field :source %>
  </div>
</div>
<div class="form-group row">
  <div class="field col-md-4">
    <%= f.label :image, "Upload Image:" %>
    <%= f.file_field :image %>
  </div>
</div>
<div class="form-group row">
  <div class-"field col-md-6">
    <%= f.label :tag_list, "Tags (separated by commas)" %>
    <%= f.text_field :tag_list %>
  </div>
    <%= f.submit "Save Recipe", class: 'btn btn-success' %>
  </div>
</div>
<% end %>
