<div class="container">
  <div class="row row-centered">
    <div class="col-md-6 col-md-offset-3">
      <h2><%= @recipe.title %></h2>
      <hr>
      <%= image_tag @recipe.image_url(:medium).to_s if @recipe.image_url.present? %>
      <hr>
        <h4>Ingredients:</h4>
          <p><%= @recipe.ingredients.html_safe %></p>
        <h4>Instructions:</h4>
          <p><%= @recipe.body.html_safe %></p>
          <small>Recipe from: <%= @recipe.source %></small>
  </br></br>
    <% if current_user %>
      <%= link_to "Edit", edit_recipe_path(@recipe), class: 'btn btn-success' %>
      <%= link_to "Delete", @recipe, method: :delete, class: 'btn btn-danger' %>
    <% end %>
  </br>
    <small>
      submitted <%= time_ago_in_words(@recipe.created_at) %> ago by <%= link_to @recipe.user.name, users_show_path(id: @recipe.user_id) %>
    </small>
    <p>
    <p> Tags: <%= raw @recipe.tag_list.map { |t| link_to t, tag_path(t) }.join(", ") %> </p>
      <br>
      <br>
  <% if current_user %>
    <%= render partial: 'likes/like', locals: { recipe: @recipe } %>
  <% end %>

  <div>
    <h3>Comments</h3>
    <%= render @recipe.comments %>
  </div>

  <% if current_user %>
    <%= render 'comments/form', comment: Comment.new, recipe: @recipe %>
  <% end %>
  </div>
 </div>
</div>
